.down{
    bottom:15px;
   padding-left: 60px;
}

.direita{
    
    bottom:70px;
    padding-left: 120px;
    
}

.esquerda{
    bottom:70px;
    
}

.up{
    padding-left: 60px;  
    bottom:125px;
}

.botao_a{
    bottom:125px;
    padding-right: 40px;
}

.botao_b{
    bottom:50px;
    padding-right: 120px;
}

.menu{
    top:20px;
    padding-left:10px;
    
}

.logo{
    align-items: center;
    display: block;
    margin: auto;
    //Podemos colocar centrado com estas propriedades acima
    width: 50%;
    height: auto;
    padding-top: 40px;
}
