<ion-header>
  
</ion-header>

<ion-content>
    <div class="logo">
        <ion-img src="./assets/legomindstormlogo.png"></ion-img>
      </div>

      <ion-fab (click)="presentPopover($event)" class="menu" vertical="start" horizontal="start" slot="fixed">
        <ion-fab-button style="zoom:0.8;" color="danger">
          <ion-icon style="zoom:1.3;" name="md-menu"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    

<!-- SETAS DIRECIONAIS --> 

  <ion-fab class="direita" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon style="zoom:2.0;" name="md-arrow-dropright" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="down" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon style="zoom:2.0;" name="md-arrow-dropdown"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="esquerda" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon style="zoom:2.0;" name="md-arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="up" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon style="zoom:2.0;" name="md-arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="up" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon style="zoom:2.0;" name="md-arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- BOTÕES DE AÇÃO --> 
  <ion-fab class="botao_a" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="zoom:1.2;" color="danger">
        <ion-text><b style="zoom:1.6;">B</b></ion-text>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="botao_b" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="zoom:1.2;" color="danger">
      <ion-text><b style="zoom:1.6;">A</b></ion-text>
    </ion-fab-button>
  </ion-fab>
</ion-content>