<ion-list>
  <ion-item>
    <ion-label>Log History</ion-label>
    <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Settings</ion-label>
  </ion-item>
  <ion-item href="/connect-page">
    <ion-label>Disconnect</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>About</ion-label>
  </ion-item>
</ion-list>