<ion-header>

</ion-header>

<ion-content>
    <ion-fab class="left" vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button (click)="presentAlertConfirm()"  style="zoom:0.7;" color="danger">
          <ion-icon style="zoom:1.8;" name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  <div class="logo">
    <ion-img src="./assets/legomindstormlogo.png"></ion-img>
  </div>
<br>
<ion-card class="card-user">
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-img class="user-avatar" src="./assets/user-avatar2.png"></ion-img>
        <ion-fab class="left" vertical="top" horizontal="start" slot="fixed">
            <ion-fab-button (click)="presentAlertConfirm()"  style="zoom:0.7;" color="danger">
              <ion-icon style="zoom:1.8;" name="arrow-back"></ion-icon>
            </ion-fab-button>
          </ion-fab>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-row>
            <ion-text class="center-contentino01">WELCOME BACK</ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="center-contentino02"><b>USERNAME</b></ion-text>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>
  <br>
  <br>
  <br>
  <br>
    <ion-col>
      <ion-row>
        <ion-button href="/control-mind"  shape="round" class="connect-button" color="danger">Connect Mindstorm <ion-icon name="md-bluetooth">
          </ion-icon>
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-text class="center-contentino02">Already connected?</ion-text>
      </ion-row>
    </ion-col>

  <!--  (click)="loginClicked()"-->
  
</ion-content>