.logo{
    align-items: center;
    display: block;
    margin: auto;
    //Podemos colocar centrado com estas propriedades acima
    width: 80%;
    height: auto;
    padding-top: 100px;
}

.connect-button{
    align-items: center;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 25px;
}

.user-avatar{
  display: block;
  width: 100px;
  height: auto;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.center-contentino01{
    align-items: center;
    display: block;
    margin: auto;
    padding-top: 5px;
    opacity: 0.5;
   
}
.center-contentino02{
    align-items: center;
    display: block;
    margin: auto;
    padding-top: 5px;
    opacity: 0.5;
    font-size: 14px;
}

.card-user{
    align-items: center;
    display: block;
    margin: auto;
    width:60%;
}

.user-card{
width: 60%;
height: 25%;
box-shadow: 2px 50px;
}




