<ion-header>

</ion-header>

<ion-content>
  <div class="logo">
    <ion-img src="./assets/legomindstormlogo.png"></ion-img>
  </div>

  <form #form="ngForm" (ngSubmit)="register(form)" class="login-form">
    <ion-grid>
      <ion-row color="primary">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Username" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <br>

  <div>
    <ion-col>
      <ion-row>
        <ion-text class="center-contentino01">Forgot password?</ion-text>
      </ion-row>
    </ion-col>
  </div>
  <!--  (click)="loginClicked()"-->


  <ion-row>
    <ion-button href="/connect-page" shape="round" class="login-button" color="danger">Login</ion-button>
  </ion-row>
  <ion-row>
    <ion-text class="center-contentino02">Create account</ion-text>
  </ion-row>
</ion-content>