.logo{
    align-items: center;
    display: block;
    margin: auto;
    //Podemos colocar centrado com estas propriedades acima
    width: 80%;
    height: auto;
    padding-top: 100px;
}

.login-button{
    align-items: center;
    display: flex;
    position: relative;
    margin: 30%;  
    width: 50%;
    margin-bottom: 25px;

}

.login-form{
    align-items: center;
    display: block;
    margin: auto;
    text-decoration: underline;
    opacity: 0.5;
}

.center-contentino01{
    align-items: center;
    display: flex;
    margin: auto;
    text-decoration: underline;
    opacity: 0.5;
    bottom: 25%
}
.center-contentino02{
    align-items: center;
    display: block;
    margin: auto;
    opacity: 0.5;
}